tool_verificacion_12h.json
{
  "name": "tool_verificacion_12h",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Cita",
              "type": "any"
            },
            {
              "name": "Calendario",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "25c0d675-3701-4632-a430-3bed786091f2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.Calendario.trim() }}",
          "mode": "id"
        },
        "eventId": "={{ $json.Cita.trim() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "72116aa6-d992-4690-8b8f-0121d36899d9",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8cV5ROvRbPqzXLCA",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "32b57472-266f-4c36-a223-714df46be840",
              "leftValue": "={{ DateTime.fromISO($json.start.dateTime).diff($now, 'hours').hours }}",
              "rightValue": 12,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "c25fd344-13a0-4eec-8906-7654b0d76866",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b40ebe7a-1f72-4bb0-a7c0-a01afd21a789",
              "name": "Cumple la regla",
              "value": "={{ $json.reminders.useDefault }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -96
      ],
      "id": "e742d345-d723-4f89-8d12-532273ca1c6c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b40ebe7a-1f72-4bb0-a7c0-a01afd21a789",
              "name": "No cumple la regla",
              "value": "={{ $json.reminders.useDefault }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        64
      ],
      "id": "9bb4c0cd-85ea-4210-81df-115c3653c9fe",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Cita": "7s402mqsli8d30ntb07da7cnp0",
          "Calendario": "f88ab9772e9c026f25509e3a69bcf2ba41fd15c2a049559c5184433ff9d5ee76"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an event": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bedb87e9-591a-45b4-b547-75dea1b10f54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8e81a069d62b8d8da21f9dddab2de75cc1d3b990f8f36af5262c34bb0abad06"
  },
  "id": "vx2Ld1awFxVBNLfk",
  "tags": []
}